:root {
    --accent: #20ffff;
    --fontSize: 25px;
    --fontSizeSmall: 17px;
    --butonBackgroundColor: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,234,0,1) 100%);
}

.new-tournament {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16%;
    margin-left: 3%;
}

.form {
    flex-direction: column;
    align-content:center;
    display: flex;
}

.input-container {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.py {
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: black;
    height: 4vh;
    width: 15vw;
    margin-bottom: 50px;
    -moz-transform: skew(22deg, 0deg);
    -webkit-transform: skew(22deg, 0deg);
    -o-transform: skew(22deg, 0deg);
    -ms-transform: skew(22deg, 0deg);
    transform: skew(22deg, 0deg);
    z-index: 1;
}

.py.focused {
    background: linear-gradient(10deg, rgba(32,255,255,1) 0%, rgba(32,255,255,0.5) 10%, rgba(32,255,255,0.30155812324929976) 20%, rgba(32,255,255,0.1026785714285714) 40%, rgba(32,255,255,0) 55%);
    border-color: var(--accent);
    animation-name: fadeInOut;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}
@keyframes fadeInOut {
    0% { opacity: 0 }
    35% { opacity: 0.5 }
    100% { opacity: 1 }
}

.input {
    border-width: 0;
    background-color: rgba(0,0,0,0);
    margin: 0 0 0 11px;
    height:4vh; 
    width: 15vw; 
    position: absolute;
    z-index: 2;
    font-size: var(--fontSizeSmall);
    color: white;
    outline: none;
}

span {
    color: red;
    display: block;
}

button {
    background: var(--butonBackgroundColor);
    border-width: 0;
    border-radius: 5px 0 0 5px;
    width: 20vw;
    height: 4vh;
    text-align: left;
    font-size: var(--fontSize);
    -webkit-clip-path: url(#clipper);
    clip-path: url(#clipper);
}

.logo {
    height: 20vh;
    width: auto;
    position: absolute;
    top: 60px;
    left: 3%;
}

.sz {
    position: absolute;
    right: 0;
    height: 130vh;
    width: auto;
    margin-left: 380px;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0));
}